<template>
  <div class="content-area">
    <div class="movie-detail">
      <div class="movie-image">
        <img
          height="260px"
          width="200px"
          src="https://images-na.ssl-images-amazon.com/images/I/81xApDHrz3L._SL1280_.jpg"
        />
      </div>
      <div class="details">
        <div class="mTitle">Stuart Little</div>
        <div class="year">Year: 2002</div>
        <div class="genre">Genre: Comedy</div>
        <div
          class="description"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab officiis laboriosam fugiat omnis, nemo quibusdam enim iusto dicta accusamus voluptas soluta quia eius aliquid pariatur unde tempore non id labore!Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab officiis laboriosam fugiat omnis, nemo quibusdam enim iusto dicta accusamus voluptas soluta quia eius aliquid pariatur unde tempore non id labore!Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="likes">
          <i class="material-icons heart">favorite</i> 502
        </div>
        <div class="rating">
          <i color="red" class="material-icons star">star</i> 6.5
        </div>
        <div class="download">
          <input type="button" value="Download" @click="download" />
        </div>
      </div>
    </div>
    <section class="flex content-column">
      <div class="trailer-elements flex content-column">
        <div class="trailer-title title white margin-20">New Trailers</div>
        <div class="trailer-videos flex">
          <div class="trailer-video"></div>
          <div class="trailer-video"></div>
          <div class="trailer-video"></div>
        </div>
      </div>
      <div class="comment-elements flex content-column flex-1">
        <div class="comment-title flex">
          <div class="icon"></div>
          <div class="comment-index subtitle white margin-20">
            <i class="material-icons green">chat_bubble</i> 21 Comments
          </div>
        </div>
        <div class="comment-box-elements flex content-column flex-1">
          <div class="comment-box-element">
            <div class="user-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="like-icon">
              <i class="material-icons green">favorite_border</i>
            </div>
          </div>
          <div class="comment-box-element">
            <div class="user-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="like-icon">
              <i class="material-icons green">favorite_border</i>
            </div>
          </div>
          <div class="comment-box-element">
            <div class="user-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="like-icon">
              <i class="material-icons green">favorite_border</i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name: "MovieDetail",
  methods: {
    download() {
      alert("Illegal kaam garchas?");
    }
  }
};
</script>

<style scoped>
.material-icons.green {
  color: #06cd32;
}
.material-icons.heart {
  color: crimson;
}
.material-icons.star {
  color: #ffcb11;
}
div {
  margin-bottom: 10px;
}
.content-area {
  width: 73%;
  background: #292929;
  color: white;
}
.movie-image {
  padding: 40px;
}
.details {
  padding: 40px;
}
.movie-detail {
  display: flex;
}
.mTitle {
  font-size: 1.6em;
  font-weight: 600;
}
.description {
  text-align: justify;
}
input[type="button"] {
  background: #06cd32;
  border: none;
  padding: 10px 20px;
  color: white;
  font-family: Proxima Nova;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}
input[type="button"]:focus {
  outline: none;
}
input[type="button"]:active {
  transform: translateY(3px);
}

.title {
  font-weight: bolder;
  font-size: 2.25rem;
}
.subtitle {
  font-weight: bolder;
  font-size: 1.9rem;
}
.white {
  color: white;
}
.flex {
  display: flex;
}
.content-column {
  flex-direction: column;
}

.trailer-video {
  height: 150px;
  width: 300px;
  background: url("https://cdn.vox-cdn.com/thumbor/HIluJzxPz3qH66lFxxHKVl10UzQ=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/60211577/acastro_180403_1777_youtube_0001.0.jpg");
  background-size: contain;
  padding: 20px;
  margin: 30px;
}
.flex-1 {
  flex: 1;
}
.content-between {
  justify-content: space-between;
}
section {
  background: #292929;
}
.comment-box-element {
  width: 100%;
  height: 70px;
  background: rgba(13, 13, 13, 0.6);
  margin: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.margin-20 {
  margin: 20px;
}
.like-icon {
  flex: 1;
}
.user-comment {
  padding: 20px;
  flex: 18;
}
</style>