<template>
  <div class="content-area">
    <h1>New Release</h1>
    <div class="banner">
      <div class="banner-desc">Avengers</div>
    </div>
    <h1>Movies</h1>
    <div>
      <!-- //all movies -->
      <h1 v-if="!allMovie">Loding</h1>
      <div v-else v-for="movie in allMovie" :key="movie.key">
        <div>
          <img :src="movie.medium_cover_image" alt="coverage" />
          {{movie.title }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Content",
  computed: mapGetters(["allMovie"]),
  methods: {
    ...mapActions(["getAllMovies"])
  },
  watch() {},
  created() {
    this.getAllMovies();
  },
  data() {
    return {};
  }
};
</script>

<style scoped>
.content-area {
  background-color: rgb(44, 44, 44);
  flex: 6;
}
.banner {
  background-image: url("https://thetecheducation.com/wp-content/uploads/2020/04/InfinityWar5aabd55fed5fa.0.jpg");
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-desc {
  font-size: 3em;
  text-shadow: -4px -4px 10px #111;
}
</style>
