<template>
  <div class="lsidebar">
    <div class="sideitems-1">
      <div class="sideitem">
        <h3>Categories</h3>
      </div>
      <div class="sideitem">Releases</div>
      <div class="sideitem">Top</div>
      <div class="sideitem">Popular</div>
      <div class="sideitem">Movies</div>
      <div class="sideitem">Coming Soon</div>
      <div class="sideitem">Trailers</div>
    </div>
    <div class="sideitems-2">
      <div class="sideitem">
        <h3>Your Library</h3>
      </div>
      <div class="sideitem">Favourites</div>
      <div class="sideitem">Watch Later</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LeftSidebar"
};
</script>

<style scoped>
.lsidebar {
  background-color: rgb(41, 41, 41);
  flex: 1;
  padding: 10px;
}
h3{
    color:white;
}
.sideitem{
    color:#808080;
}
</style>