<template>
  <nav>
    <div class="logo">
      <!-- <img class="yts" src="../assets/logo.svg" /> -->
      <router-link class="log" to="/">YTSlogo</router-link>
    </div>
    <div class="navsearch">
      <input type="text" placeholder="Quick Search" />
    </div>
    <div class="navitems">
      <router-link
        class="navitem"
        v-for="items of links"
        :to="items.path"
        :key="items.key"
      >{{items.name}}</router-link>

      <!-- <div class="navitem">View All</div>
      <div class="navitem">TV Shoes</div>
      <div class="navitem">Movies</div>-->
    </div>
    <div class="userinfo">
      <div class="userimg"></div>
      <div class="username">John Doe</div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Nav",
  data() {
    return {
      links: [
        { path: "/", name: "View All" },
        { path: "/", name: "TV Shows" },
        { path: "/", name: "Movies" }
      ]
    };
  }
};
</script>

<style scoped>
.router-link-active {
  color: #06cd32;
  text-decoration: none;
}
nav {
  display: flex;
  background-color: #2f2f2f;
  justify-content: space-between;
  width: auto;
  color: #808080;
  box-shadow: 0px 4px 10px #222;
  padding: 10px;
}
.logo {
  color: #06cd32;
  flex: 1;
}
.navsearch {
  flex: 1;
}
.navitems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5;
}
.userinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex: 1;
}

.navitem {
  margin-left: 30px;
  text-decoration: none;
  color: #808080;
}
.navitem:active {
  transform: translateY(3px);
}

.userimg {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.username,
.userimg {
  margin-right: 30px;
}

input[type="text"] {
  padding: 10px;
  text-align: left;
  border: none;
  background-color: transparent;
  color: white;
}
input[type="text"]:focus {
  background: rgb(73, 73, 73);
}

::placeholder {
  color: #aaa;
}

input[type="text"]:focus {
  outline: none;
}
</style>