<template>
  <div class="rsidebar">
    <div class="sideitems-1">
      <div class="sideitem">
        <h3 align="center">Most Viewed</h3>
      </div>
      <div class="sideitem">
          <div class="moviecard"></div>
          <div class="moviecard"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RightSidebar'
}
</script>

<style scoped>
.rsidebar {
  background-color: rgb(41, 41, 41);
  flex: 1;
  padding:10px;
}
.moviecard{
    height:32vh;
    width:100%;
    background: url('https://cdnb.artstation.com/p/assets/images/images/022/523/107/large/wiz-art-img-20191202-105336-698.jpg?1575738912');
    background-size: cover;
    margin-bottom: 20px;
}
</style>