<template>
  <div>
    <Nav />
    <main>
      <LeftSidebar />
      <router-view />
      <RightSidebar />
    </main>
  </div>
</template>

<script>
// @ is an alias to /src
import Nav from "../components/Nav.vue";
import LeftSidebar from "../components/LeftSidebar";
import RightSidebar from "../components/RightSidebar";
import Content from "../components/Content";

export default {
  name: "Layout",
  components: {
    Nav,
    LeftSidebar,
    RightSidebar,
    Content
  }
};
</script>

<style scoped>
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.4s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7e7e7e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
}

img {
  width: 100px;
}

main {
  display: flex;
  justify-content: space-between;
  color: white;
  height: auto;
}
</style>